{% extends 'master.html.twig' %}

{% block content %}
  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2>10368</h2>
                                                <span>members online</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{projectCount.number}}</h2>
                                                <span>total projects</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2>1,086</h2>
                                                <span>completed projects</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2>$1,060,386</h2>
                                                <span>total hours</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            

<div class="row">
<div class="col-lg-6"><a href="/RKProjects/projects/add" class="au-btn btn-block au-btn-icon au-btn--green"><i class="zmdi zmdi-plus"></i>add project</a></div>
<div class="col-lg-6"><a href="/RKProjects/employees/add" class="au-btn btn-block au-btn-icon au-btn--green"><i class="zmdi zmdi-plus"></i>add user</a></div>
</div>
<br><br>
<div class="row">
  <div class="col">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                           
                                            <tr>
                                                <th>Title</th>
                                                <th>ID</th>
                                                <th>Assigned</th>
                                            
                                                <th >Desc</th>
                                                <th >Date Added</th>
                                                <th >Status</th>
                                                <th >Priority</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for l in list %}
                                         
                                        <tr>
                                                <td><a href="/projects/{{l.id}}">{{l.title}} </a></td>
                                                <td>{{l.id}}</td>
                                                <td>{{l.assigned}}</td>
                                                <td class="desc">{{l.desc|slice(0,30)}}...</td>
                                                <td>{{l.dateAdded}}</td>
                                                <td><span class="badge badge-primary">{{l.status}}</span></td>
                                                <td>{{l.priority}}</td>                                             
                                            </tr>
                                      
                                            <tr class="spacer"></tr>
                                     {% endfor %} 
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
 </div>
                            



{% endblock %}