{% extends 'master.html.twig' %}

{% block content %}
                                <div class="statistic__item">
                                    <h2 class="number">{{total}}</h2>
                                    <span class="desc">Hours Spent on this project</span>
                                    
                                    <div class="icon">
                                        <i class="zmdi zmdi-time"></i>
                                    </div>
                                   
                                </div>
                            <div class="top-campaign">

                                    <h3 class="title-3 m-b-30">{{v.title}}&nbsp;{% if v.status == 'done' %}<i class="text-success far fa-check-square fa-2x"></i>{% else %}<i class="far fa-square fa-2x"></i>{% endif %}</h3>
                                        <div class="table-data-feature">
                                                        <a href ="/projects/edit/{{v.id}}" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </a>
                                                        <a href ="/projects/delete/{{v.id}}" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </a>
                                                       {#} <a class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="More">
                                                            <i class="zmdi zmdi-more"></i>
                                                        </a>#}
                                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-top-campaign">
                                            <tbody>
                                                <tr>
                                                    <td>Description</td>
                                                    <td>{{v.desc}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>{{v.status}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Assigned to</td>
                                                    <td>{{v.assigned}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Priority</td>
                                                    <td>{{v.priority}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Date Added</td>
                                                    <td>{{v.dateAdded|date("Y-d-m")}}</td>
                                                </tr>
                                           
                                  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
      
<div class="user-data m-b-30">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-account-calendar"></i>Tasks</h3>
                                    <div class="filters m-b-45">
  <div class="table-data__tool-right">
                                        <a href="/tasks/add/{{v.id}}" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="zmdi zmdi-plus"></i>add task</a>
                                        
                                    </div>

                                    </div>
                                    <div class="table-responsive table-data">
                                        <table id="tasks" class="table">
                                            <thead>
                                                <tr>
                                                    <td>
                                                       Is Done?
                                                    </td>
                                                    <td>Description</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for t in tasks %}
                                                <tr {% if t.isDone == 'true' %}style="text-decoration:line-through"{% endif %}>
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input id="{{t.id}}" type="checkbox" {% if t.isDone == 'true' %}checked{% endif %}>
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                       <td>{{t.desc}}</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                        <a href ="/tasks/edit/{{t.id}}" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </a>
                                                        <a href ="/task/delete/{{t.id}}" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>

                                </div>


<a href="/projects" class="btn btn-primary btn-block btn-lg pull-right"><i class="zmdi zmdi-arrow-left"></i> Back To Projects</a>



          <br><br>

{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() {
    
    $(':checkbox').change(function() { 
        var isDoneRaw;
        var id = this.id;
       
            if ($(this).is(':checked')) {
                               isDoneRaw = 'true';
                                $(this).closest("tr").css("text-decoration", "line-through"); 
                                }else{
                               isDoneRaw = 'false';
                                $(this).closest("tr").css("text-decoration", "none"); 
                                } 
               $.ajax({
                            url: "http://66.170.180.206/api/task/update", 
                            data: JSON.stringify({
                                 "isDone": isDoneRaw,
                                 "id":id
                            }),
                            type: "PUT",
                            dataType: "json"
                        })
     }); 

});

</script>

{% endblock %}
